.navbar{
    background: #0000;
    padding: 1%;
    margin: 0%;
    text-align: center;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}

.navbar li{
    display: block;
}

.navbar a {
    color: #EEEEEE;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .navbar ul{
        flex-direction: column;
    }
}

