/* General Styles */
h1 {
  margin: 1%;
}

.App {
  position: relative; /* Add this */
  text-align: center;
  min-height: 100vh;
  color: #071952; /* Navy */
  font-family: 'roboto', sans-serif;
  background: linear-gradient(to bottom, #EBF4F6, #D7E9F0);
  z-index: 1; /* Ensure this is above the pseudo-element */
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images4.alphacoders.com/585/585935.png");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.5; /* Set opacity */
  z-index: -1; /* Ensure it is behind other contents */
  pointer-events: none; /* Make sure it doesn't interfere with content interaction */
}

/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Applying Font to the Name */
.App-header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.App-header {
  background: linear-gradient(to bottom, #EBF4F6, #D7E9F0); /* Light Blue Gradient */
  background-image: url("");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #071952; /* Navy */
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.App-link {
  color: #088395; /* Teal */
  text-decoration: none;
}

.App-link:hover {
  color: #37B7C3; /* Blue */
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navigation-buttons button {
  background: transparent;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.navigation-buttons button:hover {
  background: #37B7C3; /* Blue */
  color: #EBF4F6; /* Light Blue */
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navigation-buttons img {
  height: 40px;
}

.card {
  background-color: #FFFFFF; /* White */
  border: 1px solid #37B7C3; /* Blue */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px 80px; /* Adjusted padding to accommodate fixed header and footer */
}

.App-footer {
  background: #071952; /* Navy */
  color: #EBF4F6; /* Light Blue */
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
}

.footer-elements {
  display: flex;
  width: 20%;
  margin: auto;
}

.App-footer img {
  width: 40px;
  height: 40px;
}

.App-footer p {
  margin-left: 1%;
  margin-top: 2.7%
}

/* Skills Section */
.skills-container {
  padding: 20px;
  text-align: center;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  font-size: 1.2rem;
  background: #FFFFFF; /* White */
  border: 1px solid #37B7C3; /* Blue */
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skill-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-card p {
  margin: 0;
  font-weight: bold;
  color: #071952; /* Navy */
}

/* Education Section */
.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 20px;
  justify-content: center;
}

.education-card {
  background: #FFFFFF; /* White */
  border: 1px solid #37B7C3; /* Blue */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 1.2rem;
  font-weight: 600;
}

.education-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.education-card img {
  width: 100px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.education-card h3 {
  font-size: 150%;
  margin-top: 20px;
  color: #071952; /* Navy */
}

.education-card p {
  margin: 5px 0;
  color: #071952; /* Navy */
}

/* Experience Section */
.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 70px;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
}

.experience-card {
  background: #FFFFFF; /* White */
  border: 1px solid #37B7C3; /* Blue */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 1.2rem;
  font-weight: 600;
}

.experience-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.experience-card img {
  width: 100px;
}

.experience-card h3 {
  font-size: 200%;
  margin-top: 0;
  color: #071952; /* Navy */
}

.experience-card p {
  margin: 5px 0;
  color: #071952; /* Navy */
}

.experience-card ul {
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0;
}

.experience-card li {
  margin-bottom: 5px;
  color: #071952; /* Navy */
}

/* Personal Info Section */
.personal-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.info-card {
  background-color: #FFFFFF; /* White */
  border: 1px solid #37B7C3; /* Blue */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, height 0.3s;
  overflow: hidden;
}

.info-card.expanded {
  height: auto;
}

.info-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.info-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.info-card h3 {
  margin-top: 0;
  color: #071952; /* Navy */
}

.info-card p {
  margin: 5px 0;
  color: #071952; /* Navy */
}

.info-card a {
  color: #088395; /* Teal */
  text-decoration: none;
}

.info-card a:hover {
  color: #37B7C3; /* Blue */
}

/* Certificates and Tools Sections */
.certificates-container,
.tools-container,
.interests-container {
  padding: 20px;
  text-align: center;
}

.certificates-grid,
.tools-grid,
.interests-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.certificate-card,
.tool-card,
.interest-card {
  font-size: 1.2rem;
  background: #FFFFFF; /* White */
  border: 1px solid #37B7C3; /* Blue */
  border-radius: 10px;
  padding: 20px;
  width: 12%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.certificate-card:hover,
.tool-card:hover,
.interest-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.certificate-card p,
.tool-card p,
.interest-card p {
  margin: 0;
  font-weight: bold;
  color: #071952; /* Navy */
}

.certificate-card img,
.tool-card img ,.interest-card img{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.interests-container {
  margin-bottom: 20%;
}

/* Animations */
.fade-enter {
  opacity: 0;
  transform: scale(1);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}

.slide-enter {
  opacity: 0;
  transform: translateY(100%);
}
.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.slide-exit {
  opacity: 1;
  transform: translateY(0);
}
.slide-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 500ms;
}

/* CSS for smooth scrolling and animations */
html {
  scroll-behavior: smooth;
}

.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.section.active {
  opacity: 1;
  transform: translateY(0);
}

.about-para {
  color: #002E5D; /* Dark gray */
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 10%;
}

.about-card {
  text-align: left;
  background-color: #FFFFFF; /* White */
  border: 1px solid #37B7C3; /* Blue */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 1% 20%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.wrapper {
  display: flex;
}

.section-header {
  margin-top: 7%;
  font-size: 1.5rem;
}

.section-header img {
  width: 69px;
}

h2 {
  margin: 0%;
}

.profile-photo {
  margin-right: 15%;
  align-self: center;
}

.profile-photo img {
  border-radius: 200px;
}
