/* General Styles */
h1 {
  margin: 1%;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom, #EBF4F6, #D7E9F0); /* Light Blue Gradient */
  min-height: 100vh;
  color: #071952; /* Navy */
  font-family: 'Montserrat', sans-serif;
}

/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.App-header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.App-header {
  background: linear-gradient(to bottom, #EBF4F6, #D7E9F0); /* Light Blue Gradient */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #071952; /* Navy */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-link {
  color: #088395; /* Teal */
  text-decoration: none;
}

.App-link:hover {
  color: #37B7C3; /* Blue */
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navigation-buttons button {
  background: transparent;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.navigation-buttons button:hover {
  background: #37B7C3; /* Blue */
  color: #EBF4F6; /* Light Blue */
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navigation-buttons img {
  height: 40px;
}

.card {
  background-color: #FFFFFF; /* White */
  border: 1px solid #37B7C3; /* Blue */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.App-footer {
  background: #071952; /* Navy */
  color: #EBF4F6; /* Light Blue */
  padding: 20px;
  text-align: center;
}

/* Skills Section */
.skills-container,
.education-container,
.experience-container,
.personal-info-container {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-grid,
.education-grid,
.experience-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card,
.education-card,
.experience-card,
.info-card {
  background: #FFFFFF; /* White */
  border: 1px solid #37B7C3; /* Blue */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 150px;
}

.skill-card:hover,
.education-card:hover,
.experience-card:hover,
.info-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skill-logo,
.info-card img,
.education-card img,
.experience-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-card p,
.education-card h3,
.experience-card h3,
.info-card h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #071952; /* Navy */
}

.education-card p,
.experience-card p,
.info-card p {
  margin: 5px 0;
  color: #071952; /* Navy */
}

.experience-card ul {
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0;
}

.experience-card li {
  margin-bottom: 5px;
  color: #071952; /* Navy */
}

.info-card {
  cursor: pointer;
  overflow: hidden;
}

.info-card.expanded {
  height: auto;
}

.info-card a {
  color: #088395; /* Teal */
  text-decoration: none;
}

.info-card a:hover {
  color: #37B7C3; /* Blue */
}

/* Animations */
.fade-enter,
.slide-enter {
  opacity: 0;
  transform: translateY(100%);
}
.fade-enter-active,
.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit,
.slide-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active,
.slide-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 500ms;
}
